@model SportsStore.WebUI.Models.ProductsListViewModel
@{
    ViewBag.Title = "Products";
}



@if (Model.Products.Count() == 0)
{
    <div class="action-title">
        @if (ViewBag.SearchQuery == null)
        {
            <p>There is no products in this category</p>
        }
        else
        {
            <p>The desired objects were not found</p>
        }
    </div>
}
else
{
    <div class="action-title">Products</div>

    <div class="product-list">

        @foreach (var item in Model.Products)
        {
            @Html.Partial("ProductSummary", item)
        }
    </div>
}

<div class="clearfix"></div>

<div class="pager bottom">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>
