/* font-family: "PlayRegular"; */
@font-face {
    font-family: "PlayRegular";
    src: url("../fonts/PlayRegular/PlayRegular.eot");
    src: url("../fonts/PlayRegular/PlayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PlayRegular/PlayRegular.woff") format("woff"),
    url("../fonts/PlayRegular/PlayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PlayBold"; */
@font-face {
    font-family: "PlayBold";
    src: url("../fonts/PlayBold/PlayBold.eot");
    src: url("../fonts/PlayBold/PlayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PlayBold/PlayBold.woff") format("woff"),
    url("../fonts/PlayBold/PlayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: PlayRegular, sans-serif !important;
 	font-size: 12pt !important;
}

body .action-title {
    padding-left: 20px;
    font-size: 28pt;
}

a {
    text-decoration: none;
    outline: none;
}

.product-list a:focus, .product-list a:link {
    color: #fff;
}

header {
    background: #808080;
    height: 50px;
    padding-right: 20px;
}

header a, header a:visited, header a:hover{
    color: #d4d4d4;
    /*padding-left: 100px;*/
}

header a:hover{
    color: #ffffff;
}

footer {
    background: #808080;
    color: #fff;
    height: 100px;
    margin-top: 20px;
}

footer p{
    padding-top: 40px;
    text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 215px;
    padding-top: 60px; 
    padding-right: 30px;
    min-height: 600px;
}

#search{
    width: 245px;
    height: 33px;
    float: left;
    background: #fff;
    border: 2px solid #b4b2b2;
    border-radius:  5px;
    margin-top: 9px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;    
}

#search-form input[type=text]{
    width: 195px;
    height: 25px;
    margin: 2px 0 0 2px;
    color: #010101;
    border: 0;
    padding-left: 5px;
    outline: none;
}

#search-form input[type=submit]{
    width: 30px;
    height: 30px;
    background: url(../Content/img/search.png) center left no-repeat;
    float: right;
    cursor: pointer;
    border: 0px;    
    outline: none;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.product{
    width: 200px;
    height: 305px;
    float: left;
    margin: 40px 20px;
    border-radius: 20px;
}

.product a:active {
    color: #fff;
}

.price{
    color: #b53232;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
    text-transform: uppercase;
}

.product .image img{
    max-height: 200px;
    max-width: 200px;
    width: 100%;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.product .image img:hover{
    -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
}

.image{
    overflow: hidden;
    width: 200px;
}

.product .product-title{
    margin: 0;
}

.product-title{
    color: #0f6a84;
    text-align: center;
    width: 100%;
    height: 20px;
    font-weight: bold;
    display: block;
    margin: 5px 0px;
}

.product-title:hover{
    text-decoration: underline;
}

.product-details {
    padding: 5px;
    height: 80px;
    max-height: 80px;
}

.to-cart{
    width: 150px;
    height: 38px;
    background: #8db24c;
    display: block;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 18px;
    color: #fff;
    margin: 0 auto;
    outline: none;
}

.pager {
    padding-top: 50px;
}

/*.pager a {
    color: #000000;
}*/

.categories {
    margin-top: 60px;
    float: left;
    width: 200px;
    max-width: 200px;
    margin-left: 10px;
}

.category {    
    background: #808080;
    color: #ffffff;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.category:hover{
    margin-left: 10px;    
}

.category-selected {
    margin-left: 10px;   
    background: #0f6a84;
}

.product:hover {    
    box-shadow: 0 5px 15px #423f3f;
}

.body-content a{
    text-decoration: none;
}

.btn-header {
    width: 100px;
    height: 30px;
    background: #808080;
    color: #d4d4d4;
    margin: 10px;
}

.btn-header-group {
    padding-top: 15px;
    height: 30px;
    display: inline-block;
}

.product-list {
    padding-left: 30px;
}

.btn-icon-remove {
    background: transparent;
    border: 0;
    outline: none;
}

.quantity {
    width: 25%;
    text-align: center;
    background: transparent;
    border: 0;
    outline: none;
}

.user-info {
    margin-top: 40px;
}

.user-info input{
    margin: 10px 0;
}

.setQuantity {
    font-size: 14pt;
}

.setQuantity label {
    color: #000000;
}

.setQuantity input[type=number] {
    width: 70px;
    font-size: 14pt;
    color: #000000;
}

#title-link {
    color: #d4d4d4;
}

.cart-body .btn {
    margin: 5px;
}

#admin-header-title {
    color: #fff;
    font-size: 16pt;
    padding-top: 10px;
    padding-left: 20px;
}

.admin-header {
    background: #000000;
}

.admin-body a {
    color: #000000;
}

.admin-body {
    padding-left: 0;
    padding-top: 60px; 
    padding-right: 30px;
    min-height: 600px;
}

.admin-product-list.table thead {
    background: #000000;
    /*background: #808080;*/
    color: #fff;
}

.sign {
    padding-top: 5px;
}

.product-edit-img {
    margin-top: 20px;
}

.cart-summary {
    color: #fff;
}

.cart-summary a{
    color: #000000 !important;
    margin-top: 10px;
    margin-left: 10px; 
}